body{
  background: black;
  color: orange;
  font-family: sans-serif;
}
header{
  text-align: center;
}
article{
  border: solid;
  margin-right: 287px;
  margin-bottom: -2px;
}
aside{
  border: solid;
  float: right;
  margin-top: -142px;
}
footer{
  border: solid;
  margin-right: 287px;
  padding-bottom: 11px;
}
#ansTitle{
  border: solid;
  margin-left: -2px;
  margin-right: -2px;
  text-align: center;
  margin-top: -2px;
}
